<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseConnectionString" value="Server=(localdb)\mssqllocaldb;Database=SignItNowDBGG;Trusted_Connection=True;" />

		<add key="BaseFilePath" value="D:\SignItNow\SignItNow" />
		<add key="UploadedDocsFolder" value="AppData\DocForSign" />
		<add key="TempDocsFolder" value="AppData\TempDoc" />

		<add key="VisualizeSignature" value="true" />
	</appSettings>
</configuration>