<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabaseConnectionString" value="" />

		<add key="BaseFilePath" value="" />
		<add key="UploadedDocsFolder" value="AppData\DocForSign" />
		<add key="TempDocsFolder" value="AppData\TempDoc" />

		<add key="VisualizeSignature" value="true" />
	</appSettings>
</configuration>